body{
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
  
    
}
.top-container{
    padding-top:100px;
    position: relative;
    background-color: #E7F6F2;

}
.top-cloud{
    position:absolute;
    right:100px;
    top:50px;
    
}
.bottom-cloud{
    position: absolute;
    
    left:100px;

}
h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 20px auto 0px auto;
 
}
h2{
    color:#66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* margin-bottom: 0px; */
}
h3{
    color: #11999E;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    
    /* margin-bottom: 0px; */
}
span{
    text-decoration: underline;
    
}
.mountain{
    padding: 0px 2px;
    width:100%;
    position:relative;
    margin-top:20px;
    
    
  
    

}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    

    

}
.skill-row img{
   
    width: 150px;
    height:150px;
    margin-right:20px;
    

    

}
.code{
    width:25%;
    float:left;
    width:160px;
    margin-right:30px;

}
.chillies{
    width:25%;
    float:right;
    margin-left:30px;

}
.contact-me{
    font: 'Montserrat', sans-serif;
    border-radius: 8px;
   

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  hr{
    border-style: dotted;
    border-top: #be222d;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 10%;
    
    
}
.bottom-container{
    background-color:#66BFBF ;
    margin-top: 80px;
    padding: 30px;
   
}
.contact-me p{
    line-height: 2;
    margin:40px auto;
}
.footer-link{
    text-decoration: none;
    margin:30px 20px;
    color: #094b4e;
}
.bottom-container p{
    margin-top:30px;
    color:#EAF6F6;
    font-family: 'Merriweather', serif;
    font-size:13px;
    width: 100%;
    text-align: center;

}
.footer-link:hover{
    color:  #052021;
   
}
.intro{
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    
    
}
.intro2{
    width: 40%;
    margin: auto;
    
    
}
